<?xml version="1.0" encoding="UTF-8"?>
<suite name="Regression Test" parallel="false">
	
	<!-- Test Case to call particular Method from Class -->
	<!-- <test name="Test Case 01"> <classes> <class name="PageObjectFunctionTest.wordPress" 
		/> <methods> <include name="updateSettings" /> </methods> </classes> </test> --> 
		
	<!-- Test Case to call particular Method from Class -->
	<test name="Test Case 02"> <classes> <class name="PageObjectFunctionTest.wordPress" 
		/> <methods> <include name="forgetPass" /> </methods> </classes> </test> 

</suite> 